*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    color: var(--idle-text-color);
    font-weight: 700;
    font-family: 'Circular Std', sans-serif;
                                                
}

::-webkit-scrollbar{
    background: rgba(146, 145, 145, 0.264);
}
::-webkit-scrollbar-thumb{
    border-radius: 100px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgba(143, 142, 142, 0.727);
}

:root{
    --bottom-spacing-left-navbar:1rem;
    --big-spacing:1.6rem;
    --idle-text-color:rgb(129, 127, 127);
    --section-padding:25px 25px 10px 25px;

}

.body-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
}


.main-body{
    flex-grow: 1;
    overflow: auto;
    display: flex;
}


.left-navbar{
    padding:var(--section-padding);
    color: var(--idle-text-color);
    background-color: black;
    overflow: auto;
    flex-shrink: 0;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-navbar-content{
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.left-navbar .sptfy-logo .large-logo{
    width: 100%;
    max-width: 150px;
    display: block;
    padding-bottom: var(--big-spacing);
}

.small-logo{
    padding-bottom: var(--bottom-spacing-left-navbar);
    max-height: 3rem;
    display: none;
}

.left-navbar-links ul > *{
    padding-bottom: var(--bottom-spacing-left-navbar);
}

.left-navbar-playlist > *{
    padding-bottom: var(--bottom-spacing-left-navbar);
}

.left-navbar-playlist .playlist-scroll > div{
    padding-bottom: var(--bottom-spacing-left-navbar);
}

.left-navbar-links ul{
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.left-navbar-links ul li{
    list-style: none;
}

.left-navbar-links ul li a{
    color:var(--idle-text-color);
    text-decoration: none;
    display: flex;
    align-items: center;
}

.left-navbar-links li a i{
    display: inline-block;
    font-size: 1.4rem;
    padding-right: 10px;
}


.left-navbar-links li:hover a {
    color: white;
}
.left-navbar-playlist .playlist-scroll div:hover{
    color: white;
}
.left-navbar-playlist .new-playlist:hover{
    color: white;
}

.left-navbar-playlist{
    overflow: auto;
    display: flex;
    flex-direction: column;
}
.left-navbar-playlist .playlist-title{
    color: white;
}

.left-navbar-playlist .new-playlist i{
    margin-right: 10px;
    display: inline-block;
    color: black;
    padding: 10px;
    background-color: var(--idle-text-color) ;
}

.left-navbar-playlist .playlist-scroll{
    overflow: auto;
}


.left-navbar-profile hr{
    border-color: var(--idle-text-color);
}

.left-navbar-profile .download-app-btn{
    padding-top: 15px;
    display: flex;
}

.left-navbar-profile .download-app-btn svg{
    width: 30px;
    color: var(--idle-text-color);
    display: inline-block;
    padding-right: 10px;
}

.left-navbar-profile .profile-name svg{
    margin-right: 10px;
    width: 30px;
    aspect-ratio: 1/1;
    text-align: center;
    border-radius: 50%;
    display: block;
    background-color: var(--idle-text-color);
    font-size: 30px;
}

.left-navbar-profile .profile-name{
    display: flex;
    align-items: center;
    color: white;
    padding-top: var(--bottom-spacing-left-navbar);
}


.upgrade-bar{
    width: 100%;
    background-color:#080B12 ;
}
.upgrade-bar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
    padding: var(--big-spacing) 0;
}

.upgrade-bar .upgrade-btn{
    margin-right: 10px;
    color: white;
    padding: 0.8rem 3rem;
    border: 1px solid white;
    border-radius: 3rem;
}

.content-container{
    flex-grow: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
}



.main-content{
    background-color: #141922;
    flex-grow: 1;
    overflow: auto;
    padding:var(--section-padding);
}

.main-content-sct-bar{
    color: var(--idle-text-color);
}

.main-content-sct-bar ul{
    gap: 20px;
    justify-content: center;
    display: flex;
}

.main-content-sct-bar ul li{
    list-style: none;
}

.main-content-recent{
    padding-top: var(--big-spacing);
}

.main-content-sct-title{
    font-size: 1.4rem;
    color: white;
}

.main-content-recent .main-content-sct-title{
    padding-bottom:var(--big-spacing) ;
}

.row{
    gap: 20px;
    display: flex;
}

.card{
    max-width: 300px;
    flex-basis: calc((100% / 6) - 20px) ;
}

.card-img img{
    display: block;
    width: 100%;
    max-width: 300px;
}

.card-text{
    text-align: center;
}
.card-title{
    padding: 14px 0 10px 0;
    font-size: 1.1rem;
    color:white;
}
.card-artist-name{
    font-size: 0.8rem;
    color: var(--idle-text-color);
}


.main-content-custom{
    padding-top: var(--big-spacing);
}
.main-content-custom h2{
    padding-bottom: 0.7rem ;
}
.main-content h5{
    padding-bottom: var(--big-spacing);
}

.main-content-suggestions{
    padding-top: var(--big-spacing);
}
.main-content-suggestions h2{ 
    padding-bottom: 0.7rem ;
}

.main-content-suggestions img{
    aspect-ratio: 1/1;
    border-radius: 50%;
}




.bottom-navbar{
    overflow: auto;
    padding: 25px 15px;
    background-color: #282828;
    flex-shrink: 0;
    width: 100%;
}

.bottom-navbar-content{
    gap: 25px;
    display: flex;
    justify-content: space-between;
}

.bottom-left-nav{
    align-items: center;
    flex-basis: 30%;
    display: flex;
}

.bottom-left-nav img{
    width: 100%;
    min-width: 60px;
    padding-right: 20px;
    max-width: 100px;
}

.bottom-left-nav .preview-song-title{
    color: white;
}

.bottom-left-nav .preview-song{
    padding-right: 60px;
}

.bottom-left-nav i{
    font-size: 1.2rem;
    display: inline-block;
    padding-right: 1rem;
}

.bottom-center-nav{
    color: white;
    max-width: 650px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom-center-top-player{
    gap: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.2rem;
}

.bottom-center-top-player .play-button{
    font-size: 2rem;
}

.bottom-center-bottom-player{
    gap: 20px;
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.lenght-bar{
    border-radius: 3px;
    height: 5px;
    width: 100%;
    display: flex;
}

.bg-bar{
    border-radius: 3px;
    flex-basis: 30%;
    background-color: rgb(202, 202, 202);
}

.current-bar{
    border-radius: 0px 3px 3px 0;
    flex-basis: 70%;
    background-color: var(--idle-text-color);
}

.bottom-right-nav{
    color: white;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    flex-basis: 30%;
}

.bottom-right-nav i{
    font-size: 1rem;
    display: inline-block;
    padding-right: 1rem;
}

.bottom-right-nav .lenght-bar{
    max-width: 150px;
    width: 100%;
}



@media screen and (max-width:1100px){

    .row{
        flex-wrap: wrap;
    }

    .main-content .card{
        
        flex-basis: calc((100% / 4) - 20px);
    }

    .main-content-sct-bar ul{
        flex-wrap: wrap;
    }
}

@media screen and (max-width:700px){

    .main-content .card{
        
        flex-basis: calc((100% / 2) - 20px);
    }

    .bottom-left-nav .preview-song{
        padding-right: 20px;
    }

}

@media screen and (max-width:600px){
    .left-navbar{
        padding: 6px 15px;
    }

    .left-navbar .sptfy-logo .large-logo{
        display: none;
    }

    .left-navbar-content .small-logo{
        display: block;
    }

    .left-navbar-content .left-navbar-links span{
        display: none;
    }

    .left-navbar-links ul {
        align-items: center;
    }

    .left-navbar-playlist{
        display: none;
    }

    .left-navbar-profile span{
        display: none;
    }

    .left-navbar-links li a i{
        padding-right: 0;
    }
    .left-navbar-profile .profile-name svg {
        margin-right: 0;
    }

    .left-navbar-profile .download-app-btn svg {
        padding-right: 0;
    }


    .bottom-navbar-content{
        gap: 5px;
    }
}